.login-screen {
  background-color: #00BCD4;
  height: 100%;
  width: 100%;
}

.sys-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.login-form-container {
  margin-top: 20%;
  padding: 30px;
  background: #3f94e9;
  color: #fff;
}


