<div class="container login-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-form-container">
                <h3 class="center-block sys-title">FOCUS - Pittsburgh</h3>
                <form #form="ngForm" (ngSubmit)="form.form.valid" novalidate class="form-horizontal" role="form">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-success" (click)="sysLogin()">System Admin</button>
                            <button type="button" class="btn btn-success" (click)="nonSysLogin()">Social Worker</button>
                            <button type="button" class="btn btn-success" (click)="nonSysLogin()">Community Member</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
