.login-screen {
  background-color: #FFDFDD;
  height: 100%;
  width: 100%;
}

.sys-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.login-form-container {
  margin-top: 20%;
  padding: 30px;
  background:#685C79;
  color: #fff;
}


.instruction {
  text-align: center;
  margin-bottom:20px;
  font-size: 18px;
}
